# Inteligencia atificial

- A Inteligencia Artificial eh a imitacao da vida.
- 1950: os primeiros computadores construindo a historia da IA.
- Inverno da IA: empolgacao seguida por uma desilusao.
- IA baseada em logica foi perdendo espaco para uma IA baseada em Dados e Estatisticas.
- Machine Learning aplicado ao comercio.
- Redes Neurais, Big Data (Cloud Computer e Databricks).
- "Maquina Viva" : na mitologia Grecia Antiga, China
- XVII : dispositivos "automatos".
- Filosofos : pensamento humano pode ser simulado por simbolos.
- Alan Turing (1912-1954): teste de Turing (maquina tem ou nao tem inteligencia similar a humana).
- Quem voce considera inteligente: 
        * Linguisticaç
        * Artistica;
        * Numerica;
        * Sensorial;
        * Espacial;
        * Emocional;
        * Fisica;
        * Reflexiva;
        "Eu sei que sou inteligente porque eu sei que nada sei"

# Data Driven

- Uma empresa orientada a Dados.
- Voces jah possuem os dados, mas utilizam em uma visao Data Driven: 

        *Netflix

        *Spotify
        
        *Wall Mart

# DataSetGames

# Google Maps


- Maze
- NetFlix
- Amazon Prime
- Disney Plus
- HBO
- Max

# Google Maps
- Probabilidade com diferentes sob demanda
- Navegaão em busca de um filkme

# Data games

- A importaçao do DataSet 
- Data Drive - uma cultura de entrada
- EDA: analise exploratorio de dados

# DataSet Filmes

In [1]:
print("hellowold")

hellowold

# DataSet Games

In [2]:
! pip install pandas

Collecting pandas
  Using cached pandas-2.3.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.3.3-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vanessa34180026\ia\tecnicointeligencia\04_palestras\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\vanessa34180026\ia\tecnicointeligencia\04_palestras\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.2-cp312-cp312-win_amd64.whl (11.0 MB)
Using cached numpy-2.3.3-cp312-cp312-win_amd64.whl (12.8 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.3.3 pandas-2.3.2 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
# import pandas
import pandas as pd

In [6]:
# DataFrame
df_jogos = pd.read_csv('datasets/steam-200k.csv')

In [7]:
df_jogos.head()

   151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
0  151603712  The Elder Scrolls V Skyrim      play  273.0  0
1  151603712                   Fallout 4  purchase    1.0  0
2  151603712                   Fallout 4      play   87.0  0
3  151603712                       Spore  purchase    1.0  0
4  151603712                       Spore      play   14.9  0

In [9]:
# crie agora um df_filme e mostre os cinco primeiros 
#mostre os 5 ultimos 
df_filmes = pd.read_csv('datasets/filmes.csv')

In [15]:
df_jogos.head()

   151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
0  151603712  The Elder Scrolls V Skyrim      play  273.0  0
1  151603712                   Fallout 4  purchase    1.0  0
2  151603712                   Fallout 4      play   87.0  0
3  151603712                       Spore  purchase    1.0  0
4  151603712                       Spore      play   14.9  0

In [16]:
df_jogos.tail()

        151603712  The Elder Scrolls V Skyrim  purchase  1.0  0
199994  128470551                 Titan Souls      play  1.5  0
199995  128470551  Grand Theft Auto Vice City  purchase  1.0  0
199996  128470551  Grand Theft Auto Vice City      play  1.5  0
199997  128470551                        RUSH  purchase  1.0  0
199998  128470551                        RUSH      play  1.4  0

# DataSet Filmes

In [12]:
# DataFrame, colocar aqui o entdereço , local onde ele se encontra 
df_filmes = pd.read_csv('datasets/filmes.csv')

In [13]:
# crie agora um df_filme e mostre os cinco primeiros 
#mostre os 5 ultimos 
df_filmes.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [14]:
df_filmes.tail()

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative